body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
#input-el{
    padding: 5px 10px;
    margin-bottom: 4px;
    border-radius: 5px;
    border: 4px solid #57ac2a;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;

}
#input-btn,#input-btn2{
    padding: 4px 7px;
    color: white;
    background-color: #57ac2a
}
#delete-btn,#delete-oldest-btn{
    padding: 4px 7px;
    color: white;
    background-color: #d9534f;
    margin-left: 5px;
}
#delete{
    padding: 4px 7px;
    color: white;
    background-color: #e73909;
    margin-left: 90%;
}
ul{
    list-style: none;
    padding: 0%;
    color: #57ac2a;
}
li{
    margin: 5px 0px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}
a{
    color: #5f9341;

}